@charset "UTF-8";


/* body {
  background-color: rgba(204, 204, 204, 0.666);
} */
a {
  color: black;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

p {
  font-family: TsukuAOldMinPr6-L,'Yu Mincho',"游明朝",'YuMincho',"游明朝体",'Meiryo',serif;
  color: rgba(0, 0, 0, 0.8);
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 3%;
}

.section-title {
  font-size: 1.8em;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  color: #767472;
  font-family: 'Crimson Text', serif;
  font-family: 'Zen Antique Soft', serif;
  font-weight: bold;
}

.slide-left {
  opacity:0;
}


.inview-slide-left {
  animation: slide-left 1.5s ease-out 0s 1 forwards;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.section-title::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #a1a1a1;
  display: block;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}


header {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 30;
} 
header .title {
  padding-left: 30px;
}


.scrolldown1{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
left:50%;
bottom:100px;
  /*全体の高さ*/
height:50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
  /*描画位置*/
position: absolute;
left:-25px;
top: -12px;
  /*テキストの形状*/
color: #eee;
font-size: 0.9rem;
letter-spacing: 0.15em;
}

/* 線の描写 */
.scrolldown1::after{
content: "";
  /*描画位置*/
position: absolute;
top: 0;
  /*線の形状*/
width: 1px;
height: 30px;
background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
animation: pathmove 1.4s ease-in-out infinite;
opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
0%{
  height:0;
  top:0;
  opacity: 0;
}
30%{
  height:30px;
  opacity: 1;
}
100%{
  height:0;
  top:50px;
  opacity: 0;
}
}


#navi {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  columns: #fff;
  padding: 60px 25px;
  background-color: #121212;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}
#navi a {
  color: #fff;
}
.nav-menu {
  margin-bottom: 50px;
}

.nav-menu li  {
  padding: 15px 0;
  border-top: 1px solid #fff;
  font-family: 'Crimson Text', serif;
  font-family: 'Zen Antique Soft', serif;
}
.nav-menu li:last-child {
  border-bottom: 1px solid #fff;
}
.nav-sns li {
  padding-bottom: 10px;
}
.fab {
  font-size: 30px;
  margin-bottom: 8px;
  margin-left: 5px;
}
.open #navi {
  left: 0;
  opacity: 1;
}

.hamburger {
  width: 100px;
  height: 100px;
  top: 22px;
  right: -45px;
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 30;
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0;

}
.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: black;
  position: absolute;
  transition: 0.3s;
}
.hamburger span:nth-child(1) {
  top: 4px;
}
.hamburger span:nth-child(2) {
  top: 14px;
}
.hamburger span:nth-child(3) {
  top: 24px;
}

.open span:nth-child(1) {
  top: 15px;
  background: #fff;
  transform: rotate(-45deg);
}
.open span:nth-child(2){
  opacity: 0;
}
.open span:nth-child(3) {
  top: 15px;
  background: #fff;
  transform: rotate(45deg);
}
#mask {
  display: none;
  transition: all 0.5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #121212;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

.header-menu {
  display: flex;
  position: fixed;
  margin-bottom: 20px;
  top: 14px;
  right: 40px;
  font-size: 0.85em;

}
.header-menu li {
  padding-right: 10px;
  margin-bottom: 20px;
}
.header-menu li a{
  /*線の基点とするためrelativeを指定*/
position: relative;
display: block;
padding: 10px 3px;
font-family: 'Crimson Text', serif;
font-family: 'Zen Antique Soft', serif;
}

.header-menu li.current a,
.header-menu li a:hover{
color:#484848;
}

.header-menu li a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background:#7c7d7e;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.header-menu li.current a::after,
.header-menu li a:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}






.mainvisual {
  height: 720px;
  position: relative;
  margin-bottom: 220px;
}
.mainvisual .maintext {
  position: absolute;
  top: 280px;
  left: 10%;
}

.eachTextAnime {
  text-align: center;
  color: white;
  margin: 20px 0;
  font-family: 'Crimson Text', serif;
  font-family: 'Zen Antique Soft', serif;
  font-size: 2.5rem;
}


.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on 2s ease-out forwards; }
@keyframes text_anime_on {
  0% {opacity:0;}
  100% {opacity:1;}
}
.eachTextAnime p {
  opacity: 0;
}
.borderleft {
  position: absolute;
  top: 110px;
}

.btn-1 {
  /*線の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  display: inline-block;
  padding: 15px 40px;
  margin-top: 400px;
  color: white;
  background-color: rgba(127, 125, 125, 0.732);
  /* background: linear-gradient(90deg, rgba(251, 0, 0, 1) 0%, rgba(255, 176, 4, 1) 100%); */
  /* border: 1px solid #ccc; */
  text-decoration: none;
  outline: none;
  /*はみ出す背景色を隠す*/
  overflow: hidden;
  font-family: 'Crimson Text', serif; 
  font-family: 'Zen Antique Soft', serif;
}
.btn-1:hover {
  opacity: 0.8;
}
.btn-1{
  /*線の基点とするためrelativeを指定*/
position: relative;
  margin:0 10px;
}

/*線の基点位置*/
.btn-1::before,
.btn-1::after{
content:"";
  /*絶対配置で線の位置を決める*/
position: absolute;
  /*線の形状*/
width: 0;
height:2px;
background:#ffffff;
/*アニメーションの指定*/
transition: all 0.2s linear;
transition-delay: 0.2s;
}

.btn-1::before{
right: 0;
top: 0;
}
.btn-1::after{
left: 0;
bottom: 0;
}

/*線の基点位置2 spanタグ*/

.btn-1 span{
display: block;
}

.btn-1 span::before,
.btn-1 span::after{
content:"";
  /*絶対配置で線の位置を決める*/
position: absolute;
  /*線の形状*/
width:2px;
height:0;
background: #ffffff;
/*アニメーションの指定*/
transition: all 0.2s linear;
}

.btn-1 span::before{
left: 0;
top: 0;
}
.btn-1 span::after{
right: 0;
bottom: 0;
}

/*現在地とhoverした際の線の変化*/


.btn-1:hover::before,
.btn-1:hover::after{
width: 100%;/*横幅を100%に*/
}


.btn-1:hover span::before,
.btn-1:hover span::after{
height: 100%;/*縦幅を100%に*/
}


.mainvisual ul li {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  animation: fade 30s infinite;
}
.mainvisual ul li:nth-child(1) {
  animation-delay: 0s;
}
.mainvisual ul li:nth-child(2) {
  animation-delay: 10s;
}
.mainvisual ul li:nth-child(3) {
  animation-delay: 20s;
}
.mainvisual ul li img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/* feature */
#feature {
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 50px;
  background-image: url(img/feature.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color:rgba(255,255,255,0.75);
  background-blend-mode:lighten;
  box-shadow: inset 0 0 5px 5px white;
}
#feature p {
  margin-bottom: 30px;
}

/* point */
#point {
  padding-top: 100px;

}
.point-items {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.point-item img {
  width: 300px;
  height: 100%;
  border-top-left-radius: 30px;
}
.point-item {
  position: relative;
}
.point-item:hover {
  opacity: 0.8;
}
.item-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(124, 123, 122, 0.8);
  width: 100%;
  color: #fff;
  z-index: 10;
  font-size: 0.8em;
  padding: 10px;
}
.item-text .category {
  margin-bottom: 10px;
  font-family: 'Crimson Text', serif; 
  font-family: 'Zen Antique Soft', serif;
}


/* inform */
#inform {
  padding-top: 100px;
}
.inform {
  text-align: center;
}
.inform img {
  width: 80%;
  margin: 0 auto;
}

.amenity {
  background-color: rgba(168, 125, 68, 0.313);
  z-index: 1;
  margin-top: 40px;
  padding: 70px 10px;
}
.amenity-items {
  display: flex;
  justify-content: center;
  padding: 10px 50px;
}
.amenity-item {
  position: relative;
  width: 18%;
  margin: 1%;
}

.amenity-icon {
  background-color: #fff;
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  border: 1px solid #121212;
  text-align: center;
  height: 0;
}
.amenity-icon img {
  position: absolute;
  top: 32%;
  width: 40%;
  height: 40%;
  left: 30%;
  right: 0;

}
.amenity-item p {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin-top: 10px;
  text-align: center;
  font-size: 0.8em;
}


/* fee */
#fee {
  padding-top: 100px;
  margin-bottom: 70px;

}
#fee .plantext {
  text-align: center;
  margin-bottom: 30px;
}

.hover-table-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
   -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  max-width:800px;
  margin:0 auto;
}
.hover-table-layout a {
  display: block;
}
.listing-item {
   display: block;
   width:1500px;
  margin-bottom:20px;
  padding-top: 30px;
    float: left;
    background: #fff;
    border-radius:10px;
    z-index:0;
    padding: 0 1%;
  cursor:pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);

}
.listing-item:hover,  .listing-item.active{
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
    transition: all 0.3s;
  z-index:2;

}
.listing-item .listing{
    padding:20px;
    position:relative;  
}
.listing-item .listing:before{
    content:"";
  position:absolute;
  top:-15px;
  left:-o-calc(50% - 15px);
  left:-moz-calc(50% - 15px);
  left:-webkit-calc(50% - 15px);
  left:calc(50% - 15px);
  border-bottom:20px solid #fff;
  border-left:20px solid transparent;
  border-right:20px solid transparent;
}
  figure.image img {
    width:100%;
    height: 100px;
    opacity: 0.7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
figure.image {
    position: relative;
  margin: 0;
    padding: 0;
}
figure.image figcaption {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    bottom: 4px;
  background: rgba(0, 0, 0, 0.192);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
figcaption .caption{
  position:relative;
  top:50%;
  -moz-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
}
figcaption h1{
    color:white;
  font-weight:bold;
    font-size:16px;
  text-transform: uppercase;
}
figcaption p{
  color:white;
  font-size:12px;
}
.listing h4 {
   
    font-size: 0.8em;
    text-align: center;
    padding: 5px 10px;
    /* font-weight: bold; */
}
.listing h4 span {
  text-align: center;
  font-size: 1.5em;
}
.listing h4:not(:last-child){
   border-bottom: 1px solid #ccc;
}

.bottom {
  display: block;
  justify-content: center;
  text-align: center;
  width: 15px;
  height: 15px;
  text-align: center;
  margin: 15px auto 13px auto;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
}

@media only screen and (min-width:540px){
  .listing-item {
   display: block;
   width: -webkit-calc(100%/3);
   width: -moz-calc(100%/3);
    width: calc(100%/3);
  }
}
@media only screen and (min-width:1024px){
  .hover-table-layout{
        padding: 30px;
  }
}

#light,#standard,#premium {
  padding-top: 80px;
}

.room {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 520px;
  position: relative;
  padding: 0 2%;
}
.room img {
  position: relative;
  width: 100%;
  height: 500px;
}
.room .name {
  position: absolute;
  top: 0;
  left: 2%;
  font-size: 1.4em;
  padding: 10px 50px 10px 30px;
  background: linear-gradient(100deg,rgb(228, 228, 228),rgba(255, 255, 255, 0.335));
}
.roomtext {
  display: flex;
  margin-top: 10px;
}
.roomtext p {
  font-size: 0.9em;
}
.roominform {
  width: 40%;
  padding-left: 30px;
}
.fade {
  opacity: 0;
}
.fade-in {
  animation: fade-on 1s ease-out 0s 1 forwards;
}
@keyframes fade-on {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* access */
#access {
  padding-top: 100px;
  margin-bottom: 70px;
}


/* F&Q */

#news {
  padding-top: 100px;
}

#ac-menu li {
  border-top: solid 1px #000;
}
#ac-menu li:last-child {
  border-bottom: solid 1px #000;
}
#ac-menu .label {
  cursor:pointer;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 20px 30px;
  position: relative;
  transition: .5s;
}
#ac-menu .label:hover {
  background-color: rgb(238, 236, 236);
}
/*
ラベル右側のアイコン「＋」を設定
beforeが横棒
afterが縦棒
*/
#ac-menu .label::before,
#ac-menu .label::after {
  content: '';
  width: 20px;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
#ac-menu .label::after {
  transform: translateY(-50%) rotate(90deg);
  transition: .5s;
}
/*
アコーディオンメニューが開いている場合
*/

#ac-menu .label.open::before {
  /* ラベルアイコンの横棒を非表示 */
  opacity: 0;
}
#ac-menu .label.open::after {
  /* ラベルアイコンの縦棒を横向きに回転 */
  transform: rotate(180deg);
}
/*
アコーディオンメニューのコンテンツ部分は、「display: none;」で非表示にしておく。
ラベルクリック時にjQueryの「  $(this).next().slideToggle();」で表示に切り替わる
*/
#ac-menu .detail {
  border-top: solid 1px #ccc;
  padding: 20px 30px;
  display: none;
}
#ac-menu .detail dl {
  display: flex;
  flex-wrap: wrap;
}
#ac-menu .detail dt {
  width: 20%;
  font-weight: bold;
  margin-bottom: 10px;
}
#ac-menu .detail dd {
  width: 80%;
  margin-bottom: 10px;
}


/* footer */
footer {
  margin-top: 120px;
  background-color: rgb(238, 236, 236);
  padding: 50px 3% 10px 3%;
}
.footer-list ul {
  display: flex;
  text-align: center;
  justify-content: center;
}
.footer-list ul li {
  padding: 0 30px;
  border-right: 1px solid black;
  font-family: 'Crimson Text', serif; 
  font-family: 'Zen Antique Soft', serif;
}
.footer-list ul li:hover {
  opacity: 0.5;
}
.footer-list ul li:last-child {
  border-right: none;
}
.footer-sns ul {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.footer-sns ul li {
  padding: 10px;
}
.footer-sns ul li:hover {
  opacity: 0.5;
}
footer p {
  text-align: center;
  margin-top: 30px;
  font-size: 0.7em;
}


.to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 25px;
  bottom: 55px;
}
.hat-page {
  text-align: center;
  font-size: 0.6em;
  position: fixed;
  color: white;
  right: 36px;
  bottom: 38px;
}


.yoyaku {
  position: fixed;
  width: 200px;
  height: 50px;
  bottom: 40px;
}

/*hoverした際の移動のアニメーション*/
.btn-2:hover::before {
  animation: shine 0.7s;
}
@keyframes shine {
  100% {
    left: 125%;
  }
}



@media (max-width:920px) {
  .hamburger {
    right: 45px;
    opacity: 1;
  
  }
  .header-menu {
    top: -30px;
    opacity: 0;
  
  }

  .point-item img {
    width: 500px;
  }
  .btn-2 {
    position: fixed;
    top: auto;
    right: auto;
    left: 20px;
    bottom: 20px;
  }
  .point-items {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
  }

  .roomtext {
    flex-direction: column;
  }
  .roominform {
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 0.5px solid #7c7d7e;
  }
  .label, .detail {
    font-size: 0.8em;
    font-weight: none;
  }
  .map iframe {
    width: 100%;
  }


  @media (max-width:540px) {
    .point-items {
      grid-template-columns: 1fr;
    }
  }
  .room img {
    height: 100%;
  }

  .footer-list ul li {
    font-size: 0.8em;
  }


}

